/*==================================================
じわっ
===================================*/

/* ぼかしから出現 */
.blur{
    animation-name:blurAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
  }
  
  @keyframes blurAnime{
    from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
    }
  
    to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    }
  }
  
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
   
  .blurTrigger{
      opacity: 0;
  }







/*==================================================
アニメーション設定
===================================*/

/* アニメーションの回数を決めるCSS*/

.count2{  
  animation-iteration-count: 100;/*この数字を必要回数分に変更*/
}

.countinfinite{  
  animation-iteration-count: infinite;/*無限ループ*/
}

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time05{  
  animation-delay: 3s;
}

.delay-time1{  
  animation-delay: 3s;
}

.delay-time15{  
  animation-delay: 3s;
}

.delay-time2{  
  animation-delay: 4s;
}

.delay-time25{  
  animation-delay: 4s;
}

/* アニメーション自体が変化する時間を決めるCSS*/

.change-time05{  
  animation-duration: 0.9s;
}

.change-time1{  
  animation-duration: 3s;
}

.change-time15{  
  animation-duration: 3s;
}

.change-time2{  
  animation-duration: 3s;
}

.change-time25{  
  animation-duration: 3s;
}