@charset "UTF-8";

html {
  font-size: 62.5%; 
  /* 16px * 62.5% = 10px */

  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth; /* スムーズスクロールを有効にする */
}

body {
  color: #5f2d2d;
  font-family: 'Besley', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center;
  /*ヘッダーにpositionfixedをつけたとき浮いたスペースをずらしている*/
  padding-top: 100px;
}

.h2-en {
  font-size: 6rem;
  line-height: 100%;
  padding-top: 90px;
  line-height: 150%;
}

.h2-ja {
  font-size: 2rem;
  line-height: 100%;
  opacity: 0.7;
  padding: 16px;
  line-height: 150%;
}
/* 文字ずらし */
.h2-en {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: #ffffff; */
  text-shadow: 3px 3px #a18282, 10px 3px 0px #f1e9e9;
  font-size: 8rem;
  text-align: center;
  letter-spacing: 1rem;
}

@media screen and (max-width: 700px) {
  .h2-en {
      font-size: 6rem;
      padding-top: 60px;
    }
  .h2-ja {
      font-size: 2rem;
    }
  }

@media screen and (max-width: 375px) {
.h2-en {
    font-size: 4rem;
    padding-top: 50px;
    text-shadow: 2px 2px #977272, 10px 3px 0px #f1e9e9;
  }
.h2-ja {
    font-size: 1.6rem;
  }
}

.text-p {
  font-size: 1.6rem;
  padding: 20px 0 20px 0;
}
@media screen and (max-width: 375px) {
  .text-p {
    font-size: 1.4rem;
  }
}


/* よくある質問へのリンクボタン */
.faq-btn-area {
  padding: 90px 0 90px 0;
}
a.faq-btn {
  text-align: center;
  text-decoration: none;
  width: 16vw;
  height: 3.2vh;
  margin: 0 auto;
  padding: 2rem 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid #845E5E;
  color: #ffffff;
  background-color: #845E5E;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.faq-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	transform: translateX(-100%);
	transition: all .6s;
	z-index: -1;
}
a.faq-btn:hover::before {
	transform: translateX(0);
}
a.faq-btn:hover {
	color: #452323;
}
@media screen and (max-width: 700px) {
  a.faq-btn {
    width: 30vw;
  }
}





.Form {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    padding-bottom: 100px;
  }
  .contact-btn {
    padding-top: 40px;
  }
  @media screen and (max-width: 700px) {
    .contact {
        width: 80%;
        margin: 0 auto;
    }
    .Form {
      margin: 0 auto;
    }
  }
  .Form-Item {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 700px) {
    .Form-Item {
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 16px;
      padding-bottom: 16px;
      flex-wrap: wrap;
    }
  }

  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
    display: flex;
  }
  @media screen and (max-width: 700px) {
    .Form-Item-Label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  .Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 700px) {
    .Form-Item-Label.isMsg {
      margin-top: 0;
    }
  }
  .Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 50px;
    display: inline-block;
    text-align: center;
    background: #bd9999;
    color: #fff;
    font-size: 1.4rem;
  }
  @media screen and (max-width: 700px) {
    .Form-Item-Label-Required {
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 32px;
      font-size: 10px;
    }
  }
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #f5f5f5;
    font-size: 18px;
  }
  @media screen and (max-width: 700px) {
    .Form-Item-Input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #f5f5f5;
    font-size: 18px;
  }
  @media screen and (max-width: 700px) {
    .Form-Item-Textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #977272;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: #977272 1px solid;
  }
  @media screen and (max-width: 700px) {
    .Form-Btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 375px) {
  .Form-Item {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}